{{- if and .Site.Params.versions (gt (len .Site.Params.versions) 1) -}}
{{- $currentPath := .Page.RelPermalink -}}
{{- $currentVersionID := "" -}}
{{- $currentVersionUrl := "" -}}
{{- $currentVersionLabel := "" -}}
{{- range .Site.Params.versions -}}
  {{- if hasPrefix $currentPath .url -}}
    {{- $currentVersionID = .id -}}
    {{- $currentVersionUrl = .url -}}
    {{- $currentVersionLabel = .version -}}
  {{- end -}}
{{- end -}}

<div class="version-switcher dropdown">
  <button class="version-switcher__toggle dropdown-toggle" type="button"
          id="versionSwitcherButton" data-bs-toggle="dropdown"
          aria-expanded="false" aria-haspopup="true">
    {{- if $currentVersionLabel -}}
      {{ $currentVersionLabel }}
    {{- else -}}
      {{ .Site.Params.version_menu | default "Версии" }}
    {{- end -}}
  </button>
  <ul class="version-switcher__menu dropdown-menu" aria-labelledby="versionSwitcherButton">
    {{- range .Site.Params.versions }}
    {{- if not .hidden }}
    {{- $targetPath := .url -}}
    {{- if $currentVersionUrl -}}
      {{- $subPath := strings.TrimPrefix $currentVersionUrl $currentPath -}}
      {{- $candidatePath := printf "%s%s" .url $subPath -}}
      {{- $trimmed := strings.TrimRight "/" $candidatePath -}}
      {{- with site.GetPage $trimmed -}}
        {{- $targetPath = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
    <li>
      <a href="{{ $targetPath }}" class="dropdown-item{{ if eq .id $currentVersionID }} active{{ end }}">
        {{- .version -}}
      </a>
    </li>
    {{- end }}
    {{- end }}
  </ul>
</div>
{{- else if .Site.Params.versions -}}
{{- $currentPath := .Page.RelPermalink -}}
{{- range .Site.Params.versions -}}
  {{- if hasPrefix $currentPath .url -}}
  <span class="version-switcher__label">{{ .version }}</span>
  {{- end -}}
{{- end -}}
{{- end -}}
